/*SE REDUCE TODO EL HTML PARA AJUSTAR LOS REM*/
html {
  font-size: 70%;
}

/* FUENTES DEL DOCUMENTO */
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: SemiBold;
  src: url(../fonts/static/Montserrat-SemiBold.ttf);
}
.tituloPrincipal {
  font-weight: bold;
  font-size: 3rem;
}

/* BARRA DE NAVEGACION */
header nav {
  background-color: #DC9556;
}

.iconoMenuMobile {
  background-color: white;
  color: black;
}

.fuenteMenuIconoMobile,
.navbar-toggler {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
  color: black;
  border: none;
}

.logo {
  width: 200px;
}

nav ul li a {
  text-decoration: none;
  font-family: "SemiBold";
  font-size: 1.2rem;
  color: black;
  display: inline-block;
  padding: 20px 20px;
}
nav ul li a:hover {
  color: white;
}

/* TITULO PRINCIPAL DE LA WEB DEBAJO DEL NAV */
h1 {
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

section {
  font-family: "Montserrat";
}
section h2,
section h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
section h4 {
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
section p,
section span,
section li {
  font-size: 1.1rem;
}
section p.pNegrita,
section span.pNegrita,
section li.pNegrita {
  font-weight: bold;
}

.botonComenzar {
  width: 12rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  font-size: 1.5rem;
  border-radius: 15px;
  font-family: "SemiBold";
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(-50%);
  top: 40%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  animation: pulsate 1.5s infinite;
}
.botonComenzar:hover {
  font-size: 1.6rem;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* SECCIONES */
.listaIngredientes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtituloSeccion {
  background-color: #FFD364;
  margin: 0;
  padding: 0;
}

section {
  font-family: "Montserrat";
}
section h2,
section h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
section h4 {
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
section p,
section span,
section li {
  font-size: 1.1rem;
}
section p.pNegrita,
section span.pNegrita,
section li.pNegrita {
  font-weight: bold;
}

/* FOOTER */
.contenedorSeguinos {
  background-color: #113408;
}

.derechos {
  font-family: "Montserrat";
  font-size: 0.8rem;
  color: black;
  font-weight: 350;
  background-color: #78bc61;
}

.seguinos {
  font-family: "SemiBold";
  color: white;
  font-size: 1.3rem;
}

.redes {
  color: white;
  width: 20px;
}

.redSocial {
  width: 34px;
  background-color: white;
  border-radius: 15px;
  border: white solid 2px;
}
.redSocial:hover {
  width: 34px;
  background-color: #C51F15;
  border-radius: 15px;
  border: #C51F15 solid 2px;
}

/*# sourceMappingURL=estilo.css.map */
