 /* FUENTES DEL DOCUMENTO */

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: SemiBold;
    src: url(../fonts/static/Montserrat-SemiBold.ttf);
  }

 
  .tituloPrincipal {
    font-weight: bold;
    font-size: 3rem;
  }
    
  @mixin estilo-textos {
    font-family: "Montserrat";
  
      
    h2,
    h3, label {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 10px;
      font-size: 1.5rem;
    }
  
    h4 {
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 10px;
      font-size: 1.2rem;
    }
  
    p,
    span,
    li {
      font-size: 1.1rem;
  
      &.pNegrita {
        font-weight: bold;
      }
    }
  }
 
