 /* SECCIONES */
 
 .listaIngredientes {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .subtituloSeccion {
    background-color: $color-fondo-seccion;
    margin: 0;
    padding: 0;
  }

  //FUENTES 

  section {
    
    @include estilo-textos;

    @media (min-width: 991px) {
    
      h2,
      h3 {
        font-size: 2.5rem;
      }
    
      h4 {
        font-size: 1.8rem;
      }
    
      p,
      span,
      li {
        font-size: 1.7rem;
  
      }
  
    }
  
  }
  

  